* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background: no-repeat center center fixed;
    background-size: cover;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 1px 1px 2px #474747;
    margin: 0em .6em;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 0.5em;

}

div.top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.time {
    text-align: center;
}

#crypto-data > p {
    margin: 0;
    padding-bottom: .5em;
}

#crypto-header {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}

#crypto-header > span {
    margin-left: 1em;
}

#weather {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    
}

.city {
    width: 100%;
    text-align: center;
    margin: 0;
    font-size: 1.5rem;
}

#weather > img {
    width: 4rem;
}

.temp {
    font-size: 1.7rem;
}